@use './base' as b;

body {
  background-color: b.$clr-primary-300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  height: 85vh;

  background-color: b.$clr-natural-100;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;

  font-family: b.$ff-primary;

  &__img {
    @include b.background-img('../images/image-product-desktop.jpg');

    width: 100%;
    height: 35vh;

    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    // border-bottom-left-radius: 1rem;
  }
  &__content {
    // background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    // to center the content, margin auto is the best solution!:)
    margin: 1rem auto;

    width: 70%;
    height: 60%;
  }
  &__category {
    font-family: b.$ff-primary;
    font-size: b.$fs-400;
    color: b.$clr-natural-600;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }

  &__title {
    font-size: b.$fs-900;
    font-family: b.$ff-secondary;
    line-height: 1.2;
    // margin-block-end: 1rem;
  }

  &__desc {
    font-size: b.$fs-500;
    color: b.$clr-natural-600;
    line-height: 1.6;
    // margin-block-end: 1rem;
  }

  &__price {
    font-size: b.$fs-900;
    color: b.$clr-primary-400;
    font-family: b.$ff-secondary;
  }

  &__price--discount {
    color: b.$clr-natural-600;
    font-size: b.$fs-500;
    font-family: b.$ff-primary;
    text-decoration: line-through;
    // margin-inline: 3rem;
  }

  &__btn--primary {
    background-color: b.$clr-primary-400;
    color: b.$clr-natural-100;
    border: none;
    border-radius: 0.8rem;
    padding-block: 1.3rem;

    font-size: b.$fs-500;

    &:hover {
      color: b.$clr-primary-400;
      background-color: b.$clr-natural-100;
      border: 1px solid b.$clr-primary-400;
      cursor: pointer;

      .card__icon--svg {
        fill: b.$clr-primary-400;
      }
    }
  }

  .card__icon--svg {
    fill: b.$clr-natural-100;
    margin-inline-end: 1rem;
  }
}

@media (min-width: 860px) {
  * {
    font-size: 11px;
    transition: ease all 0.2s;
  }

  .card {
    width: 80vw;
    height: 60vh;
    flex-direction: row;

    border-radius: 1rem;

    &__content {
      width: 30rem;
      height: 90%;
      justify-content: space-evenly;
      margin: auto;
    }

    &__img {
      height: 100%;
      width: 50%;
      border-radius: 1rem 0 0 1rem;
      background-size: cover;
    }
  }
}
