# misc
.DS_Store
.prettierignore

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build